<h1>Listing checkins</h1>

<table>
  <tr>
    <th>Foursquare checkin</th>
    <th>Venue</th>
    <th>User</th>
    <th>Name</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.id %></td>
    <td><%= checkin.venue_id %></td>
    <td><%= checkin.user_id %></td>
    <td><%= checkin.user.name %></td>
    <td><%= checkin.created_at %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
    <td><%= link_to 'Destroy', checkin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkin', new_checkin_path %>
