<p id="notice"><%= notice %></p>

<p>
  <b>Foursquare checkin:</b>
  <%= @checkin.id %>
</p>

<p>
  <b>Venue:</b>
  <%= @checkin.venue_id %>
</p>


<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
