<p id="notice"><%= notice %></p>

<p>
  <b>Foursquare checkin:</b>
  <%= @checkin.id %>
</p>

<p>
  <b>Venue:</b>
  <%= @checkin.venue_id %>
</p>

<p>
  <b>User:</b>
  <%= @checkin.user_id %>
</p>

<p>
  <b>JSON:</b>
  <%= @checkin.data %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
